<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout-admin :: head">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap site-wrap--admin">
        <div id="sticky-wrapper" class="sticky-wrapper sticky-wrapper--admin">
            <header th:replace="/layout-admin :: header"></header>
        </div>
        <!--Body-->
        <div class="container--admin container--admin--full">
            <div class="row">
                <div class="col-12">
                    <h2 class="site-name py-4">Thêm tài khoản</h2>
                    <form class="text-dark" th:action="@{/admin/them-taikhoan}" method="post" enctype="multipart/form-data">
                        <div class="row flex-wrap">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label class="col-3 align-middle label-info-admin__small pr-3">Ảnh
                                            đại diện: </label> <img id="previewImg"
                                            class="rounded-circle profile-img img-thumbnail" src="${anh }">
                                        <label class="ml-3 label-img" for="anhdaidien"><i
                                            class="bi bi-upload"></i> Upload</label> <input hidden type="file"
                                            name="anhdd" id="anhdaidien" onchange="previewFile(this);"
                                            class="inputfile">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="col-3 label-info-admin__small pr-3">Tài
                                            khoản: </label> <input class="col-7 py-2 border-radius-12" type="text"
                                            name="username" placeholder="Tên tài khoản">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="col-3 label-info-admin__small pr-3">Mật
                                            khẩu: </label> <input class="col-7 py-2 border-radius-12"
                                            type="password" name="password" placeholder="Mật khẩu">
                                    </div>
        
                                    <div class="col-12 mb-3">
                                        <label class="col-3 label-info-admin__small pr-3">Quyền:
                                        </label><span class="select-wrapper select--white"> <select
                                            name="role">
                                                <option selected value="USER">User</option>
                                                <option value="SELLER">Seller</option>
                                        </select></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label class="col-3 label-info-admin__small pr-3">Họ: </label> <input
                                            class="col-7 py-2 border-radius-12" type="text" name="hoten"
                                            placeholder="Họ và tên">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="col-3 label-info-admin__small pr-3">SDT: </label> <input class="col-7 py-2 border-radius-12"
                                            type="text" name="sdt" placeholder="Số điện thoại">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="col-3 label-info-admin__small pr-3">Email: </label> <input class="col-7 py-2 border-radius-12"
                                            type="text" name="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 text-right my-4">
                                <button class="btn btn-info" type="submit">Thêm</button>
                                <a th:href="@{/admin/taikhoan}"
                                    class="ml-3 d-inline-block text-white btn bg-danger">Quay lại</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/Body-->
    </div>
    <footer th:replace="/layout-admin :: footer"></footer>
</body>
</html>