.container-login {
	display: flex;
	align-items: center;
	background-color: #333333;
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	position: relative;
}

.container-login__header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-login__header__img {
	border-radius: 50%;
	width: 144px;
}

.container-login__header__text {
	padding-left: 8px;
	font-size: 52px;
	line-height: 60px;
	text-align: left;
	font-weight: 600;
	color: #fff;
}

.container-login__header__text--underline.text_underline::after {
	top: 85%;
	background-color: #1877f2;
}

.container-login__content {
	text-align: center;
}

.container-login__content__remember-me {
	/* text-align: right; */
	padding: 16px 40px;
	font-size: 12px;
}

.rememberMe-text {
	color: #fff;
}

#rememberMe:hover, .rememberMe-text:hover {
	cursor: pointer;
}

.container-login__content__forgot-password {
	border-bottom: 1px solid rgba(230, 230, 230, 0.2);
	padding-bottom: 12px;
}

.button-login {
	color: #fff;
	background-color: #1877f2;
}

.button-register {
	background-color: #42b72a;
	color: #fff;
}

.forgot-password {
	font-size: 14px;
	color: #1877f2;
	text-decoration: none;
}

.forgot-password:hover {
	text-decoration: underline;
}

/* Register */
.register--open {
	display: none !important;
}

.register--open:checked ~ .register {
	display: flex;
}

.register {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: center;
	z-index: 100;
	display: none;
}

.register__container {
	background: #fff;
	width: 800px !important;
	max-width: calc(100% - 32px);
	min-height: 200px;
	position: relative;
	animation: modalFadeIn ease 0.6s;
	padding: 12px;
}

.register__container__close {
	text-align: right;
	font-size: 32px;
	color: #000;
}

.register__container__close label:hover {
	opacity: 0.4;
	cursor: pointer;
}

.register__container__header__text {
	color: black;
}

.register__container__header__text--underline.text_underline::after {
	top: 55%;
	background-color: orange;
}

.register__container__body__input {
	border-radius: 8px;
	height: 40px;
	min-width: 240px;
	padding: 4px 12px;
	font-size: 14px;
	width: 100%;
}

.register__container__body__button {
	text-align: center;
}

.register__container__body__text {
	font-size: 12px;
}

.button-signUp {
	background-color: #1877f2;
	color: white;
}