<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout-web :: head">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" onLoad="active()">
	<div class="site-wrap">
		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>
        <div id="sticky-wrapper" class="sticky-wrapper">
            <header th:replace="/layout-web :: header"></header>
        </div>
        <!--Body-->
        <div class="site-blocks-cover overlay"
			style="background-image: url(/images/background.jpg); min-height: 20px!important; height: calc(12vh)!important;" data-aos="fade"
			id="home-section">
		</div>
		<div class="site-section" id="listings-section" style="padding-top: 2.5em;">
			<div class="container">

				<div class="row">
					<div class="col-md-3 order-1 order-md-2">
						<div class="mb-2">
							<h3 class="text-black h5  font-family-2">Lọc phòng theo</h3>
							<button class="btn button px-3 py-1 btn-find mb-2"
								onClick="callFromLoc('web')">Lọc</button>
							<div class="form-group">
								<div class="select-wrap">
									<span class="icon icon-keyboard_arrow_down"></span> <select id="loaiphong" class="form-control px-3">
										<option value="0" selected>Loại phòng</option>
										<option th:each="lp : ${loaiphongs}" th:value="${lp.loaiphongId }" th:text="${lp.name }"></option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="select-wrap">
									<span class="icon icon-keyboard_arrow_down"></span> 
									<select class="form-select form-select-sm mb-3 form-control px-3" id="city" aria-label=".form-select-sm">
										<option value="" selected>Chọn tỉnh thành</option>           
										</select>
								</div>
							</div>

							<div class="form-group">
								<div class="select-wrap">
									<span class="icon icon-keyboard_arrow_down"></span>
									<select class="form-select form-select-sm mb-3 form-control px-3" id="district" aria-label=".form-select-sm">
										<option value="" selected>Chọn quận huyện</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="select-wrap">
									<span class="icon icon-keyboard_arrow_down"></span> 
									<select class="form-select form-select-sm form-control px-3" id="ward" aria-label=".form-select-sm">
										<option value="" selected>Chọn phường xã</option>
									</select>
								</div>
							</div>
		<!-- 				<div class="mb-5">
							<h3 class="text-black mb-4 h5 font-family-2">Lọc theo giá
								phòng</h3>
							<div id="slider-range" class="border-primary"></div>
							<input type="text" name="gia" id="amount"
								class="form-control border-0 pl-0 bg-white" />
						</div> -->
						</div>

					</div>
					<div class="col-md-9 order-2 order-md-1">
						<div class="mb-3">
							<form action="">
								<input type="text"
									class="input-find input--border m-0 d-inline-block"
									placeholder="Nhập phòng cần tìm" name="keyword" id="keyword" th:value="${keyword}">
								<button class="btn button mt-2 px-3 py-1 btn-find" type="submit">Tìm</button>
							</form>
						</div>
						<div class="select-wrap">
							<div class="mb-1">
								<select
								onchange="callFromLoc('web')" name="orderby" id="orderby"
								class="form-control px-3">
								<option value="ten">Mặc định</option>
								<option value="descngaydang">Mới nhất</option>
								<option value="ngaydang">Cũ nhất</option>
								<option value="gia">Giá từ thấp đến cao</option>
								<option value="descgia">Giá từ cao đến thấp</option>
							</select>
						</div>
						</div>
						<div th:with="phongs=${pPhong.getContent()}" id="load" class="row large-gutters">
								<div th:each="phong : ${phongs}" class="phong col-md-6 col-lg-4 mb-1 mb-lg-4 ">
									<div class="ftco-media-1">
										<div class="ftco-media-1-inner">
											<a th:href="@{/detail-phong/{id}(id=${phong.phongId})}" class="d-inline-block mb-4"> 
												<img th:src="@{${phong.anhchinh}}" alt="Image" class="img-fluid">
												<div class="ftco-media-details text-dark">
													<h3 class="mt-3 mb-1" style="font-weight: 400!important" th:text="${phong.ten }"></h3>
													<strong th:text="'Giá: ' + ${phong.gia } + ' VNĐ'"></strong>
													<p class="pr-3" th:text="'Đ/c: ' + ${phong.diachict }+ ', ' + ${phong.diachi }"></p>
												</div>
											</a>
										</div>
									</div>
								</div>
						</div>
						<br>
						<div class="spinner-border" role="status" style="display:none" id="loading">
						</div>
						<div>
							<input type="text" name="page" th:value="${pPhong.getNumber() + 2}" id="page" hidden>
							<button onClick="callFromXemtiep('web')" class="btn btn-primary">Xem tiếp</button>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!--/Body-->
    </div>
    <footer th:replace="/layout-web :: footer"></footer>
</body>
</html>